<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<h2 th:if="${param.failure}">You username or password is wrong</h2>

<h2>用户名密码登录</h2>
<form action="login" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </p>
    <p>
        <label>
            <input type="checkbox" name="rememberMe">
        </label> Remember me on this computer.
    </p>
    <button type="submit">Sign in</button>
</form>



</body>
</html>
