<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<div th:if="${param.failure}">
    登录密码错误
</div>

<div th:if="${param.time}">
    登录锁定时间：[[${param.time}]] 秒
</div>

<h2>用户名密码登录</h2>
<form action="login" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </p>
    <p>
        <label>
            <input type="checkbox" name="rememberMe">
            Remember me on this computer.
        </label>
    </p>
    <button type="submit">Sign in</button>
</form>

</body>
</html>
